<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define a default console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set root level to INFO to filter out DEBUG logs -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Specific logger configuration for Kafka -->
    <logger name="org.apache.kafka" level="WARN" />
</configuration>